body {
  font-family: 'Nobile', sans-serif;
}

.opening-menu{
  text-align: center;
  margin: 0 auto;
  border: solid;
  border-color: green;
}


.types-of-help{
  display: none;
  margin: 0 auto;
  text-align: center;
}

.need-help{
  display: none;
  text-align: left;
  margin-left: 40%;
}

#bullet-points{
  display: inline;
  font-family: 'Nobile', sans-serif;
  line-height: 35px;
  font-size: 1.2em;
}

#chatbot-locator{
  display: none;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background-color:pink;
  text-align: center;
}

#chatbot-locator p{
  font-size: 1.2em;
}

#chatbot-locator span{
  font-size: 2em;
  margin-left: 40px;

}

/*buttons*/

.opening-button{
  font-family: 'Nobile', sans-serif;
  font-size: 1.2em;
  padding: 10px;
  margin: 10px;
}

.second-level-button{
  padding: 10px;
  margin: 10px;

}

.escape-button{
  padding: 10px;
  margin: 10px;
}