body {
  font-family: 'Nobile', sans-serif;
}

.opening-menu{
  text-align: center;
  margin: 0 auto;
  border: solid;
  border-color: green;
}


.types-of-help{
  display: none;
  margin: 0 auto;
  text-align: center;

}

#shelter-housing{
  display: none;
  width: 100%;
  border: 25px solid green;
  padding: 25px;
  margin: 0px;
}
#legal-issues{
  display: none;
  width: 100%;
  border: 25px solid green;
  padding: 25px;
  margin: 0px;
}

form {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  margin-left: 100px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 20px;
}

#search-form {
  display: none;
}

#housing-results{
  display: block;
}

.need-help{
  display: none;
  text-align: left;
  margin-left: 40%;
}

#bullet-points{
  display: inline;
  font-family: 'Nobile', sans-serif;
  line-height: 35px;
  font-size: 1.2em;
}

#chatbot-locator{
  display: none;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background-color:pink;

}

#chatbot-locator p{
  display: inline;
  text-align: center;
  max-width: 500px;
  margin-top: 20px;

  font-size: 1.3em;

}

#chatbot-locator img{
  max-height: 100px;
  position: fixed;
  bottom: 0px;
}

/*#chatbot-locator span{
  font-size: 2em;
  margin-left: 40px;

}*/

/*buttons*/

.opening-button{
  font-family: 'Nobile', sans-serif;
  font-size: 1.2em;
  padding: 10px;
  margin: 10px;
}

.second-level-button{
  padding: 10px;
  margin: 10px;
  font-size: 1.0em;

}

.escape-button{
  padding: 10px;
  margin: 10px;
}